<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lantian.lib_lan">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application android:label="@string/app_name">
        <activity android:name=".device.view.DevHomeActivity" />
        <activity android:name=".device.view.home.LANDevActivity" />
        <activity android:name=".subfield.SubfieldActivity"/>
        <service android:name=".net.tcp.service.TCPServer"/>
    </application>

</manifest>